body {
    background:linear-gradient(-45deg, #23d5ab, #23a6d5, #A7BFE8);
    background-size: 400% 400%;
    animation: gradient 15s ease 2s infinite, blendin 2s ease forwards;
    -webkit-animation: gradient 15s ease 2s infinite, blendin 2s ease forwards;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes blendin {
    from { opacity: 0; transform: scale(0.95); -webkit-transform: scale(0.95); -moz-transform: scale(0.95); -ms-transform: scale(0.95); -o-transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); }
}

.centeredCard {
    width:300px;
    height: 450px;
    position: absolute;
    margin-left: -150px;
    margin-top: -225px;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a:hover{
    text-decoration: none !important;
}

.bp3-multistep-dialog-right-panel {
    max-height: 450px;
    overflow-y: scroll;
}

.bp3-form-group {
    margin: 15px 10px !important;
}