body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif;
	margin: auto;
}

html,
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	user-select: none;
}

.app_logo {
	width: 250px;
	height: 250px;
	align-self: center;
	margin-top: 40px;
	border-radius: 125px;
	filter: drop-shadow(0px 16px 6px rgba(0, 0, 0, 0.1));
	overflow: hidden;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	-ms-border-radius: 125px;
	-o-border-radius: 125px;
}

#App {
	height: 100%;
	margin: 0 auto;
}

.centeredCard {
	width: 400px;
	height: 500px;
	position: absolute;
	margin-left: -200px;
	margin-top: -250px;
	left: 50%;
	top: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a:hover {
	text-decoration: none !important;
}

.bp3-form-group {
	margin: 15px 10px !important;
}

.bp3-multistep-dialog-right-panel {
	min-height: 240px;
	max-height: 70vh;
	overflow-y: scroll;
	margin-bottom: 60px;
}

.bp3-multistep-dialog-panels {
	position: relative;
}

.bp3-multistep-dialog-right-panel > div:first-child {
	position: relative;
}

.bp3-multistep-dialog-footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.bp3-html-table tbody td {
	vertical-align: middle !important;
}

.projectListActionTd {
	text-align: right !important;
}

.projectList {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.rightElementInButton {
	height: 100%;
	margin: 7px;
}
