body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif;
	margin: auto;
}

html,
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	background: linear-gradient(-45deg, #f2c8ad, #cc8e6d, #5c747a);
	background-size: 600% 600%;
	animation: gradient 30s ease 2s infinite, blendin 2s ease forwards;
	-webkit-animation: gradient 30s ease 2s infinite, blendin 2s ease forwards;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 0%;
	}
}

@keyframes blendin {
	from {
		opacity: 0;
		transform: scale(0.98);
		-webkit-transform: scale(0.98);
		-moz-transform: scale(0.98);
		-ms-transform: scale(0.98);
		-o-transform: scale(0.98);
	}
	to {
		opacity: 1;
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
	}
}

#App {
	height: 100%;
	margin: 0 auto;
}

.centeredCard {
	width: 400px;
	height: 450px;
	position: absolute;
	margin-left: -200px;
	margin-top: -225px;
	left: 50%;
	top: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a:hover {
	text-decoration: none !important;
}

.bp3-form-group {
	margin: 15px 10px !important;
}

.bp3-multistep-dialog-right-panel {
	min-height: 300px;
	max-height: 80vh;
	overflow-y: scroll;
	padding-bottom: 60px;
}

.bp3-multistep-dialog-panels {
	position: relative;
}

.bp3-multistep-dialog-right-panel > div:first-child {
	position: relative;
}

.bp3-multistep-dialog-footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
